[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faster-whisper = ">=1.0.0"
pyaudio = ">=0.2.14"
pyyaml = ">=6.0"
numpy = ">=1.24.0"
pyobjc-framework-cocoa = "*"
pyobjc-framework-screencapturekit = "*"
pyobjc-framework-avfoundation = "*"
pyobjc-framework-coremedia = "*"
pyobjc-framework-libdispatch = "*"

[dev-packages]

[requires]
python_version = "3.11"
